/* line 14, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, form input.button, a.fancy, a.fancy.loud {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, form input.button::-moz-focus-inner, a.fancy::-moz-focus-inner, a.fancy.loud::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, form input.button:focus, a.fancy:focus, a.fancy.loud:focus {
  outline: none;
}

/* line 24, ../../../app/stylesheets/screen.scss */
html, body {
  height: 100%;
}

/* line 27, ../../../app/stylesheets/screen.scss */
body {
  position: relative;
  background: #369;
  font: normal 13px/20px Lato, Helvetica, Arial, sans-serif;
}
/* line 39, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 65, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 67, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 21, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 24, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 27, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 78, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 80, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 81, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 83, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 86, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 89, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 91, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 92, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 94, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 95, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 97, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 98, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 101, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 102, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 103, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 4, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a {
  color: #8a1f11;
}
/* line 6, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 10, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 12, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 14, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 59, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus, form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 50, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 36, ../../../app/stylesheets/screen.scss */
form label {
  margin: 0.5em 0;
  font: normal 16px/18px Lato, Helvetica, Arial, sans-serif;
  float: left;
  width: 20%;
}
/* line 41, ../../../app/stylesheets/screen.scss */
form span.hint {
  color: #aaa;
  font: normal 12px/18px Lato, Helvetica, Arial, sans-serif;
  margin-left: 20%;
  display: block;
}
/* line 46, ../../../app/stylesheets/screen.scss */
form input.button {
  margin-top: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #0a66c2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #98badd), color-stop(10%, #538cc6), color-stop(50%, #2f5e8e), color-stop(50%, #2b5782), color-stop(100%, #3870a8));
  background-image: -moz-linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  background-image: linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  border-color: #204060;
  text-shadow: #042649 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
form input.button, form input.button:visited {
  color: white;
}
/* line 31, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
form input.button:hover, form input.button:focus {
  background-color: #095eb3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8cb2d9), color-stop(10%, #4785c2), color-stop(50%, #2b5782), color-stop(50%, #284f77), color-stop(100%, #34699d));
  background-image: -moz-linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  background-image: linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  border-color: #1c3854;
  text-shadow: #031f3a 0px 1px 1px;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
form input.button:hover, form input.button:hover:visited, form input.button:focus, form input.button:focus:visited {
  color: white;
}
/* line 36, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
form input.button:active {
  background-color: #0957a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2b5782), color-stop(30%, #2e5c8a), color-stop(50%, #29527a), color-stop(50%, #254a6f), color-stop(100%, #366ba1));
  background-image: -moz-linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  background-image: linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  border-color: #183049;
  text-shadow: #02172c 0px -1px -1px;
  -moz-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  box-shadow: #204060 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
form input.button:active, form input.button:active:visited {
  color: white;
}

/* line 50, ../../../app/stylesheets/screen.scss */
a {
  color: #369;
  font-weight: bold;
}
/* line 53, ../../../app/stylesheets/screen.scss */
a.fancy {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #0a66c2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #98badd), color-stop(10%, #538cc6), color-stop(50%, #2f5e8e), color-stop(50%, #2b5782), color-stop(100%, #3870a8));
  background-image: -moz-linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  background-image: linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  border-color: #204060;
  text-shadow: #042649 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy, a.fancy:visited {
  color: white;
}
/* line 31, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy:hover, a.fancy:focus {
  background-color: #095eb3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8cb2d9), color-stop(10%, #4785c2), color-stop(50%, #2b5782), color-stop(50%, #284f77), color-stop(100%, #34699d));
  background-image: -moz-linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  background-image: linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  border-color: #1c3854;
  text-shadow: #031f3a 0px 1px 1px;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy:hover, a.fancy:hover:visited, a.fancy:focus, a.fancy:focus:visited {
  color: white;
}
/* line 36, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy:active {
  background-color: #0957a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2b5782), color-stop(30%, #2e5c8a), color-stop(50%, #29527a), color-stop(50%, #254a6f), color-stop(100%, #366ba1));
  background-image: -moz-linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  background-image: linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  border-color: #183049;
  text-shadow: #02172c 0px -1px -1px;
  -moz-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  box-shadow: #204060 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy:active, a.fancy:active:visited {
  color: white;
}
/* line 55, ../../../app/stylesheets/screen.scss */
a.fancy.loud {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 24pt;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #0a66c2;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #98badd), color-stop(10%, #538cc6), color-stop(50%, #2f5e8e), color-stop(50%, #2b5782), color-stop(100%, #3870a8));
  background-image: -moz-linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  background-image: linear-gradient(top, #98badd 0%, #538cc6 10%, #2f5e8e 50%, #2b5782 50%, #3870a8 100%);
  border-color: #204060;
  text-shadow: #042649 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy.loud, a.fancy.loud:visited {
  color: white;
}
/* line 31, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy.loud:hover, a.fancy.loud:focus {
  background-color: #095eb3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8cb2d9), color-stop(10%, #4785c2), color-stop(50%, #2b5782), color-stop(50%, #284f77), color-stop(100%, #34699d));
  background-image: -moz-linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  background-image: linear-gradient(top, #8cb2d9 0%, #4785c2 10%, #2b5782 50%, #284f77 50%, #34699d 100%);
  border-color: #1c3854;
  text-shadow: #031f3a 0px 1px 1px;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy.loud:hover, a.fancy.loud:hover:visited, a.fancy.loud:focus, a.fancy.loud:focus:visited {
  color: white;
}
/* line 36, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy.loud:active {
  background-color: #0957a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #2b5782), color-stop(30%, #2e5c8a), color-stop(50%, #29527a), color-stop(50%, #254a6f), color-stop(100%, #366ba1));
  background-image: -moz-linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  background-image: linear-gradient(top, #2b5782 0%, #2e5c8a 30%, #29527a 50%, #254a6f 50%, #366ba1 100%);
  border-color: #183049;
  text-shadow: #02172c 0px -1px -1px;
  -moz-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #204060 0 0.08em 0.1em 1px inset;
  box-shadow: #204060 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../vendor/ruby/1.9.1/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
a.fancy.loud:active, a.fancy.loud:active:visited {
  color: white;
}

/* line 58, ../../../app/stylesheets/screen.scss */
div.flash {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
}
/* line 138, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.flash {
  overflow-x: hidden;
}
/* line 62, ../../../app/stylesheets/screen.scss */
div.flash p {
  padding: .8em;
  margin: 0;
}

/* line 66, ../../../app/stylesheets/screen.scss */
#wrapper {
  background: #fff;
  padding: 0 1em;
  -moz-box-shadow: #555555 2px 2px 20px 0;
  -webkit-box-shadow: #555555 2px 2px 20px 0;
  -o-box-shadow: #555555 2px 2px 20px 0;
  box-shadow: #555555 2px 2px 20px 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 73, ../../../app/stylesheets/screen.scss */
#header, #content, #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header, * html #content, * html #footer {
  overflow-x: hidden;
}

/* line 76, ../../../app/stylesheets/screen.scss */
#header {
  padding: 1em 0;
  position: relative;
}
/* line 79, ../../../app/stylesheets/screen.scss */
#header h1 {
  font-weight: bold;
  line-height: 45px;
  color: #369;
  letter-spacing: -2px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #header h1 {
  overflow-x: hidden;
}
/* line 85, ../../../app/stylesheets/screen.scss */
#header h1 img {
  height: 50px;
  margin-right: .25em;
  float: left;
}
/* line 89, ../../../app/stylesheets/screen.scss */
#header #session {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 16px;
  position: absolute;
  right: 0;
  padding: 0;
}
/* line 56, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #session li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #session li:first-child, #header #session li.first {
  padding-left: 0;
}
/* line 46, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header #session li:last-child, #header #session li.last {
  padding-right: 0;
}
/* line 18, ../../../app/stylesheets/screen.scss */
#header #session li {
  border-right: 1px solid #aaa;
  padding: 0 .5em;
}
/* line 21, ../../../app/stylesheets/screen.scss */
#header #session li:last-child {
  border: none;
}

/* line 96, ../../../app/stylesheets/screen.scss */
#content {
  position: relative;
}

/* line 99, ../../../app/stylesheets/screen.scss */
#help {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #help {
  overflow-x: hidden;
}

/* line 102, ../../../app/stylesheets/screen.scss */
#signin {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  position: absolute;
  text-align: center;
  top: 25%;
}
/* line 138, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #signin {
  overflow-x: hidden;
}
/* line 107, ../../../app/stylesheets/screen.scss */
#signin h2 {
  font-weight: bold;
}

/* line 110, ../../../app/stylesheets/screen.scss */
#footer {
  margin-top: 3em;
  color: #999;
}
/* line 113, ../../../app/stylesheets/screen.scss */
#footer a {
  color: #999;
}
/* line 115, ../../../app/stylesheets/screen.scss */
#footer ul {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li:first-child, #footer ul li.first {
  padding-left: 0;
}
/* line 46, ../../../vendor/ruby/1.9.1/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#footer ul li:last-child, #footer ul li.last {
  padding-right: 0;
}
/* line 18, ../../../app/stylesheets/screen.scss */
#footer ul li {
  border-right: 1px solid #aaa;
  padding: 0 .5em;
}
/* line 21, ../../../app/stylesheets/screen.scss */
#footer ul li:last-child {
  border: none;
}
/* line 118, ../../../app/stylesheets/screen.scss */
#footer p {
  float: right;
}
