@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "blueprint/grid";
@import "blueprint/typography";
@import "blueprint/interaction";
@import "blueprint/form";
@import "fancy-buttons";

$body-font: Lato, Helvetica, Arial, sans-serif;
$fb-color: #369;
$fb-light-text: white;
$fb-dark-text: #222222;
$fb-font-size: 14px;

@mixin navvy {
  @include horizontal-list;
  li {
    border-right: 1px solid #aaa;
    padding: 0 .5em;
    &:last-child {
      border: none; } } }

html, body {
  height: 100%; }

body {
  @include blueprint-typography;
  @include blueprint-interaction;
  position: relative;
  background: #369;
  font: normal 13px/20px $body-font; }

form {
  @include blueprint-form;
  label {
    margin: 0.5em 0;
    font: normal 16px/18px $body-font;
    float: left;
    width: 20%; }
  span.hint {
    color: #aaa;
    font: normal 12px/18px $body-font;
    margin-left: 20%;
    display: block; }
  input.button {
    margin-top: 1em;
    @include fancy-button; } }

a {
  color: #369;
  font-weight: bold;
  &.fancy {
  @include fancy-button;
  &.loud {
    @include fancy-button($fb-color, 24pt); } } }

div.flash {
  @include column(24, true);
  @include border-radius;
  padding: 0;
  p {
    padding: .8em;
    margin: 0; } }

#wrapper {
  background: #fff;
  padding: 0 1em;
  @include box-shadow(#555, 2px, 2px, 20px);
  @include border-bottom-radius;
  @include container; }

#header, #content, #footer {
  @include column(24, true); }

#header {
  padding: 1em 0;
  position: relative;
  h1 {
    font-weight: bold;
    line-height: 45px;
    color: #369;
    letter-spacing: -2px;
    @include column(16);
    img {
      height: 50px;
      margin-right: .25em;
      float: left; } }
  #session {
    @include navvy;
    font-size: 16px;
    position: absolute;
    right: 0;
    padding: 0;
    li {
      line-height: 28px; }
    img {
      height: 28px;
      float: left;
      margin: 0 10px 0 0; } } }

#content {
  position: relative; }

#help {
  @include column(12); }

#signin {
  @include column(12, true);
  position: absolute;
  text-align: center;
  top: 25%;
  h2 {
    font-weight: bold; } }

#footer {
  margin-top: 3em;
  color: #999;
  a {
    color: #999; }
  ul {
    float: left;
    @include navvy; }
  p {
    float: right; } }
